<?xml version="1.0" encoding="UTF-8" ?>
  <Workflow>
    <aservice/>
    <createUser>tiandm@big.ac.cn</createUser>
    <desc>microRNA predict
Fastq. format sequence file as input.</desc>
    <help/>
    <jobid/>
    <linkNodeList>
      <linkNode>
        <proceedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>preProcess</moduleName>
          <moduleNumber>1</moduleNumber>
          <paramName>output-file-prefix</paramName>
        </proceedNode>
        <succeedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>bwa-aln</moduleName>
          <moduleNumber>6</moduleNumber>
          <paramName>input-file</paramName>
        </succeedNode>
      </linkNode>
      <linkNode>
        <proceedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>preProcess</moduleName>
          <moduleNumber>1</moduleNumber>
          <paramName>output-file-prefix</paramName>
        </proceedNode>
        <succeedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>bwa-samse</moduleName>
          <moduleNumber>3</moduleNumber>
          <paramName>reads-file</paramName>
        </succeedNode>
      </linkNode>
      <linkNode>
        <proceedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>bwa-index</moduleName>
          <moduleNumber>2</moduleNumber>
          <paramName>prefix-of-the-index</paramName>
        </proceedNode>
        <succeedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>bwa-samse</moduleName>
          <moduleNumber>3</moduleNumber>
          <paramName>reference-index</paramName>
        </succeedNode>
      </linkNode>
      <linkNode>
        <proceedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>bwa-index</moduleName>
          <moduleNumber>2</moduleNumber>
          <paramName>prefix-of-the-index</paramName>
        </proceedNode>
        <succeedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>bwa-aln</moduleName>
          <moduleNumber>6</moduleNumber>
          <paramName>reference-index</paramName>
        </succeedNode>
      </linkNode>
      <linkNode>
        <proceedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>bwa-aln</moduleName>
          <moduleNumber>6</moduleNumber>
          <paramName>output-file</paramName>
        </proceedNode>
        <succeedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>bwa-samse</moduleName>
          <moduleNumber>3</moduleNumber>
          <paramName>bwa-aln-result</paramName>
        </succeedNode>
      </linkNode>
      <linkNode>
        <proceedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>bwa-samse</moduleName>
          <moduleNumber>3</moduleNumber>
          <paramName>output-sam</paramName>
        </proceedNode>
        <succeedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>alignToNoMicRNA</moduleName>
          <moduleNumber>4</moduleNumber>
          <paramName>input-sam</paramName>
        </succeedNode>
      </linkNode>
      <linkNode>
        <proceedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>alignToNoMicRNA</moduleName>
          <moduleNumber>4</moduleNumber>
          <paramName>output-dirctory</paramName>
        </proceedNode>
        <succeedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>microRNA-predict</moduleName>
          <moduleNumber>0</moduleNumber>
          <paramName>input_read_file</paramName>
        </succeedNode>
      </linkNode>
      <linkNode>
        <proceedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>alignToNoMicRNA</moduleName>
          <moduleNumber>4</moduleNumber>
          <paramName>output-dirctory</paramName>
        </proceedNode>
        <succeedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>microRNA-predict</moduleName>
          <moduleNumber>0</moduleNumber>
          <paramName>input_read_file</paramName>
        </succeedNode>
      </linkNode>
      <linkNode>
        <proceedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>alignToNoMicRNA</moduleName>
          <moduleNumber>4</moduleNumber>
          <paramName>output-dirctory</paramName>
        </proceedNode>
        <succeedNode>
          <createUser>tiandm@big.ac.cn</createUser>
          <moduleName>microRNA-predict</moduleName>
          <moduleNumber>0</moduleNumber>
          <paramName>input_read_file</paramName>
        </succeedNode>
      </linkNode>
    </linkNodeList>
    <moduleList>
      <module>
        <cmdLine/>
        <contactEmail>tiandm@big.ac.cn</contactEmail>
        <createUser>tiandm@big.ac.cn</createUser>
        <desc>solexa microRNA Reads preprocess</desc>
        <haveNested>0</haveNested>
        <helpInfo/>
        <is_submit>1</is_submit>
        <jobtype>pbsdsub</jobtype>
        <maincmd>/share_bio/panfs/biocloud/biocloud/script/miRNA/preProcessOfReads.pl</maincmd>
        <name>preProcess</name>
        <number>1</number>
        <outpatList>
          <outpat>
            <cmdParam>-o</cmdParam>
            <eleDes/>
            <eleType/>
            <eleValue>preprocess_result.fa</eleValue>
            <idenPathRelative>1</idenPathRelative>
            <idenSubFlag>0</idenSubFlag>
            <itemType>0</itemType>
            <labelText/>
            <name>output-file-prefix</name>
            <pageFlag>0</pageFlag>
            <showFlag>1</showFlag>
            <wsFlag>1</wsFlag>
          </outpat>
        </outpatList>
        <outresultList/>
        <pBSBean>
          <clusterIp>192.168.118.5</clusterIp>
          <cpuNum/>
          <cpuNumList/>
          <jobSchedule/>
          <killCmd>qdel</killCmd>
          <memoryUse/>
          <nodeNum/>
          <nodeNumList/>
          <passwd/>
          <queryCmd>mstat</queryCmd>
          <queueList>genomics=genomics,bioque=bioque,lowq=lowq,middleq=middleq,fat02que=fat02que</queueList>
          <queueName/>
          <subCmd>dsub</subCmd>
          <userName/>
          <walltime/>
        </pBSBean>
        <paramorderbeanList>
          <paramorderbean>
            <commandName>-i </commandName>
            <paramName>input_read_file</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-a </commandName>
            <paramName>adapter-sequence</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-min </commandName>
            <paramName>min-read-lenth</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-max </commandName>
            <paramName>max-read-length</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-o </commandName>
            <paramName>output-file-prefix</paramName>
            <paramType>output</paramType>
          </paramorderbean>
        </paramorderbeanList>
        <patList>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam>-i</cmdParam>
            <defValue/>
            <eleDes/>
            <eleType>4</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>input_read_file</name>
            <showFlag>1</showFlag>
            <valueType>file</valueType>
            <wsFlag>1</wsFlag>
          </pat>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam>-a</cmdParam>
            <defValue>TCGTATGCCGTCTTCTGCTTG</defValue>
            <eleDes/>
            <eleType>0</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>adapter-sequence</name>
            <showFlag>1</showFlag>
            <valueType>string</valueType>
            <wsFlag>1</wsFlag>
          </pat>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam>-min</cmdParam>
            <defValue>19</defValue>
            <eleDes/>
            <eleType>0</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>min-read-lenth</name>
            <showFlag>1</showFlag>
            <valueType>number</valueType>
            <wsFlag>1</wsFlag>
          </pat>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam>-max</cmdParam>
            <defValue>30</defValue>
            <eleDes/>
            <eleType>0</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>max-read-length</name>
            <showFlag>1</showFlag>
            <valueType>number</valueType>
            <wsFlag>1</wsFlag>
          </pat>
        </patList>
        <pubPaper/>
        <script>/share_bio/panfs/biocloud/biocloud/script/miRNA/preProcessOfReads.pl -i $preProcess.input_read_file -a $preProcess.adapter-sequence -min $preProcess.min-read-lenth -max $preProcess.max-read-length -o $preProcess.output-file-prefix </script>
        <show>0</show>
        <showPatCount>4</showPatCount>
        <sindex>1</sindex>
        <submittype>1</submittype>
        <submoduleList/>
        <uploadDocPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439285665772/doc/aa.txt</uploadDocPath>
        <uploadScriptPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439285665772/script/aa.txt</uploadScriptPath>
        <uploadTestDataPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439285665772/data/aa.txt</uploadTestDataPath>
      </module>
      <module>
        <cmdLine/>
        <contactEmail>tiandm@big.ac.cn</contactEmail>
        <createUser>tiandm@big.ac.cn</createUser>
        <desc/>
        <haveNested>0</haveNested>
        <helpInfo/>
        <is_submit>1</is_submit>
        <jobtype>pbsdsub</jobtype>
        <maincmd>/share_bio/panfs/biocloud/biocloud/script/bwa-index.pl</maincmd>
        <name>bwa-index</name>
        <number>2</number>
        <outpatList>
          <outpat>
            <cmdParam>-o</cmdParam>
            <eleDes/>
            <eleType/>
            <eleValue>bwa-index</eleValue>
            <idenPathRelative>1</idenPathRelative>
            <idenSubFlag>0</idenSubFlag>
            <itemType>0</itemType>
            <labelText/>
            <name>prefix-of-the-index</name>
            <pageFlag>0</pageFlag>
            <showFlag>1</showFlag>
            <wsFlag>1</wsFlag>
          </outpat>
        </outpatList>
        <outresultList/>
        <pBSBean>
          <clusterIp>192.168.118.5</clusterIp>
          <cpuNum/>
          <cpuNumList/>
          <jobSchedule/>
          <killCmd>qdel</killCmd>
          <memoryUse/>
          <nodeNum/>
          <nodeNumList/>
          <passwd/>
          <queryCmd>mstat</queryCmd>
          <queueList>genomics=genomics,bioque=bioque,lowq=lowq,middleq=middleq,fat02que=fat02que</queueList>
          <queueName/>
          <subCmd>dsub</subCmd>
          <userName/>
          <walltime/>
        </pBSBean>
        <paramorderbeanList>
          <paramorderbean>
            <commandName>-i </commandName>
            <paramName>reference-input</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-a </commandName>
            <paramName>bwtsw|is</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-o </commandName>
            <paramName>prefix-of-the-index</paramName>
            <paramType>output</paramType>
          </paramorderbean>
        </paramorderbeanList>
        <patList>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam>-i</cmdParam>
            <defValue/>
            <eleDes/>
            <eleType>4</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>reference-input</name>
            <showFlag>1</showFlag>
            <valueType>file</valueType>
            <wsFlag>1</wsFlag>
          </pat>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam>-a</cmdParam>
            <defValue>bwtsw</defValue>
            <eleDes/>
            <eleType>0</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>bwtsw|is</name>
            <showFlag>1</showFlag>
            <valueType>string</valueType>
            <wsFlag>1</wsFlag>
          </pat>
        </patList>
        <pubPaper/>
        <script>/share_bio/panfs/biocloud/biocloud/script/bwa-index.pl -i $bwa-index.reference-input -a $bwa-index.bwtsw|is -o $bwa-index.prefix-of-the-index </script>
        <show>0</show>
        <showPatCount>2</showPatCount>
        <sindex>2</sindex>
        <submittype>1</submittype>
        <submoduleList/>
        <uploadDocPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439286783186/doc/aa.txt</uploadDocPath>
        <uploadScriptPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439286783186/script/aa.txt</uploadScriptPath>
        <uploadTestDataPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439286783186/data/aa.txt</uploadTestDataPath>
      </module>
      <module>
        <cmdLine/>
        <contactEmail>tiandm@big.ac.cn</contactEmail>
        <createUser>tiandm@big.ac.cn</createUser>
        <desc>bwa samse</desc>
        <haveNested>0</haveNested>
        <helpInfo/>
        <is_submit>1</is_submit>
        <jobtype>pbsdsub</jobtype>
        <maincmd>/software/biosoft/bin/bwa samse</maincmd>
        <name>bwa-samse</name>
        <number>3</number>
        <outpatList>
          <outpat>
            <cmdParam>-f</cmdParam>
            <eleDes/>
            <eleType/>
            <eleValue>map.sam</eleValue>
            <idenPathRelative>1</idenPathRelative>
            <idenSubFlag>0</idenSubFlag>
            <itemType>1</itemType>
            <labelText/>
            <name>output-sam</name>
            <pageFlag>0</pageFlag>
            <showFlag>1</showFlag>
            <wsFlag>1</wsFlag>
          </outpat>
        </outpatList>
        <outresultList/>
        <pBSBean>
          <clusterIp>192.168.118.5</clusterIp>
          <cpuNum/>
          <cpuNumList/>
          <jobSchedule/>
          <killCmd>qdel</killCmd>
          <memoryUse/>
          <nodeNum/>
          <nodeNumList/>
          <passwd/>
          <queryCmd>mstat</queryCmd>
          <queueList>genomics=genomics,bioque=bioque,lowq=lowq,middleq=middleq,fat02que=fat02que</queueList>
          <queueName/>
          <subCmd>dsub</subCmd>
          <userName/>
          <walltime/>
        </pBSBean>
        <paramorderbeanList>
          <paramorderbean>
            <commandName/>
            <paramName>reference-index</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName/>
            <paramName>bwa-aln-result</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName/>
            <paramName>reads-file</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-f </commandName>
            <paramName>output-sam</paramName>
            <paramType>output</paramType>
          </paramorderbean>
        </paramorderbeanList>
        <patList>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam/>
            <defValue/>
            <eleDes/>
            <eleType>4</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>reference-index</name>
            <showFlag>0</showFlag>
            <valueType>file</valueType>
            <wsFlag>0</wsFlag>
          </pat>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam/>
            <defValue/>
            <eleDes/>
            <eleType>4</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>bwa-aln-result</name>
            <showFlag>0</showFlag>
            <valueType>file</valueType>
            <wsFlag>0</wsFlag>
          </pat>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam/>
            <defValue/>
            <eleDes/>
            <eleType>4</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>reads-file</name>
            <showFlag>0</showFlag>
            <valueType>file</valueType>
            <wsFlag>0</wsFlag>
          </pat>
        </patList>
        <pubPaper/>
        <script>/software/biosoft/bin/bwa samse $bwa-samse.reference-index $bwa-samse.bwa-aln-result $bwa-samse.reads-file -f $bwa-samse.output-sam </script>
        <show>0</show>
        <showPatCount>0</showPatCount>
        <sindex>3</sindex>
        <submittype>1</submittype>
        <submoduleList/>
        <uploadDocPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439287337717/doc/aa.txt</uploadDocPath>
        <uploadScriptPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439287337717/script/aa.txt</uploadScriptPath>
        <uploadTestDataPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439287337717/data/aa.txt</uploadTestDataPath>
      </module>
      <module>
        <cmdLine/>
        <contactEmail>tiandm@big.ac.cn</contactEmail>
        <createUser>tiandm@big.ac.cn</createUser>
        <desc>align to non-microRNA</desc>
        <haveNested>0</haveNested>
        <helpInfo/>
        <is_submit>1</is_submit>
        <jobtype>pbsdsub</jobtype>
        <maincmd>/share_bio/panfs/biocloud/biocloud/script/miRNA/alignToNo_micRNA.pl</maincmd>
        <name>alignToNoMicRNA</name>
        <number>4</number>
        <outpatList>
          <outpat>
            <cmdParam>-o</cmdParam>
            <eleDes/>
            <eleType/>
            <eleValue/>
            <idenPathRelative>1</idenPathRelative>
            <idenSubFlag>0</idenSubFlag>
            <itemType>1</itemType>
            <labelText/>
            <name>output-dirctory</name>
            <pageFlag>0</pageFlag>
            <showFlag>1</showFlag>
            <wsFlag>1</wsFlag>
          </outpat>
        </outpatList>
        <outresultList/>
        <pBSBean>
          <clusterIp>192.168.118.5</clusterIp>
          <cpuNum/>
          <cpuNumList/>
          <jobSchedule/>
          <killCmd>qdel</killCmd>
          <memoryUse/>
          <nodeNum/>
          <nodeNumList/>
          <passwd/>
          <queryCmd>mstat</queryCmd>
          <queueList>genomics=genomics,bioque=bioque,lowq=lowq,middleq=middleq,fat02que=fat02que</queueList>
          <queueName/>
          <subCmd>dsub</subCmd>
          <userName/>
          <walltime/>
        </pBSBean>
        <paramorderbeanList>
          <paramorderbean>
            <commandName>-genome </commandName>
            <paramName>genome-fasta-file</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-nomiRNA </commandName>
            <paramName>non-miRNA-fasta-file</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-sam </commandName>
            <paramName>input-sam</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-o </commandName>
            <paramName>output-dirctory</paramName>
            <paramType>output</paramType>
          </paramorderbean>
        </paramorderbeanList>
        <patList>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam>-genome</cmdParam>
            <defValue/>
            <eleDes/>
            <eleType>4</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>genome-fasta-file</name>
            <showFlag>1</showFlag>
            <valueType>file</valueType>
            <wsFlag>1</wsFlag>
          </pat>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam>-nomiRNA</cmdParam>
            <defValue/>
            <eleDes/>
            <eleType>4</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>non-miRNA-fasta-file</name>
            <showFlag>1</showFlag>
            <valueType>file</valueType>
            <wsFlag>1</wsFlag>
          </pat>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam>-sam</cmdParam>
            <defValue/>
            <eleDes/>
            <eleType>4</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>input-sam</name>
            <showFlag>0</showFlag>
            <valueType>file</valueType>
            <wsFlag>1</wsFlag>
          </pat>
        </patList>
        <pubPaper/>
        <script>/share_bio/panfs/biocloud/biocloud/script/miRNA/alignToNo_micRNA.pl -genome $alignToNoMicRNA.genome-fasta-file -nomiRNA $alignToNoMicRNA.non-miRNA-fasta-file -sam $alignToNoMicRNA.input-sam -o $alignToNoMicRNA.output-dirctory </script>
        <show>0</show>
        <showPatCount>2</showPatCount>
        <sindex>4</sindex>
        <submittype>1</submittype>
        <submoduleList/>
        <uploadDocPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439287531126/doc/aa.txt</uploadDocPath>
        <uploadScriptPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439287531126/script/aa.txt</uploadScriptPath>
        <uploadTestDataPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439287531126/data/aa.txt</uploadTestDataPath>
      </module>
      <module>
        <cmdLine/>
        <contactEmail>tiandm@big.ac.cn</contactEmail>
        <createUser>tiandm@big.ac.cn</createUser>
        <desc>solexa microRNA Reads preprocess</desc>
        <haveNested>0</haveNested>
        <helpInfo/>
        <is_submit>1</is_submit>
        <jobtype>pbsdsub</jobtype>
        <maincmd>/share_bio/panfs/biocloud/biocloud/script/miRNA/preProcessOfReads.pl</maincmd>
        <name>preProcess</name>
        <number>5</number>
        <outpatList>
          <outpat>
            <cmdParam>-o</cmdParam>
            <eleDes/>
            <eleType/>
            <eleValue>preprocess_result.fa</eleValue>
            <idenPathRelative>1</idenPathRelative>
            <idenSubFlag>0</idenSubFlag>
            <itemType>0</itemType>
            <labelText/>
            <name>output-file-prefix</name>
            <pageFlag>0</pageFlag>
            <showFlag>1</showFlag>
            <wsFlag>1</wsFlag>
          </outpat>
        </outpatList>
        <outresultList/>
        <pBSBean>
          <clusterIp>192.168.118.5</clusterIp>
          <cpuNum/>
          <cpuNumList/>
          <jobSchedule/>
          <killCmd>qdel</killCmd>
          <memoryUse/>
          <nodeNum/>
          <nodeNumList/>
          <passwd/>
          <queryCmd>mstat</queryCmd>
          <queueList>genomics=genomics,bioque=bioque,lowq=lowq,middleq=middleq,fat02que=fat02que</queueList>
          <queueName/>
          <subCmd>dsub</subCmd>
          <userName/>
          <walltime/>
        </pBSBean>
        <paramorderbeanList>
          <paramorderbean>
            <commandName>-i </commandName>
            <paramName>input_read_file</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-a </commandName>
            <paramName>adapter-sequence</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-min </commandName>
            <paramName>min-read-lenth</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-max </commandName>
            <paramName>max-read-length</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-o </commandName>
            <paramName>output-file-prefix</paramName>
            <paramType>output</paramType>
          </paramorderbean>
        </paramorderbeanList>
        <patList>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam>-i</cmdParam>
            <defValue/>
            <eleDes/>
            <eleType>4</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>input_read_file</name>
            <showFlag>1</showFlag>
            <valueType>file</valueType>
            <wsFlag>1</wsFlag>
          </pat>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam>-a</cmdParam>
            <defValue>TCGTATGCCGTCTTCTGCTTG</defValue>
            <eleDes/>
            <eleType>0</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>adapter-sequence</name>
            <showFlag>1</showFlag>
            <valueType>string</valueType>
            <wsFlag>1</wsFlag>
          </pat>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam>-min</cmdParam>
            <defValue>19</defValue>
            <eleDes/>
            <eleType>0</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>min-read-lenth</name>
            <showFlag>1</showFlag>
            <valueType>number</valueType>
            <wsFlag>1</wsFlag>
          </pat>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam>-max</cmdParam>
            <defValue>30</defValue>
            <eleDes/>
            <eleType>0</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>max-read-length</name>
            <showFlag>1</showFlag>
            <valueType>number</valueType>
            <wsFlag>1</wsFlag>
          </pat>
        </patList>
        <pubPaper/>
        <script>/share_bio/panfs/biocloud/biocloud/script/miRNA/preProcessOfReads.pl -i $preProcess.input_read_file -a $preProcess.adapter-sequence -min $preProcess.min-read-lenth -max $preProcess.max-read-length -o $preProcess.output-file-prefix </script>
        <show>0</show>
        <showPatCount>4</showPatCount>
        <sindex>5</sindex>
        <submittype>1</submittype>
        <submoduleList/>
        <uploadDocPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439285665772/doc/aa.txt</uploadDocPath>
        <uploadScriptPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439285665772/script/aa.txt</uploadScriptPath>
        <uploadTestDataPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439285665772/data/aa.txt</uploadTestDataPath>
      </module>
      <module>
        <cmdLine/>
        <contactEmail>tiandm@big.ac.cn</contactEmail>
        <createUser>tiandm@big.ac.cn</createUser>
        <desc>align reads to genome</desc>
        <haveNested>0</haveNested>
        <helpInfo/>
        <is_submit>1</is_submit>
        <jobtype>pbsdsub</jobtype>
        <maincmd>/software/biosoft/bin/bwa aln</maincmd>
        <name>bwa-aln</name>
        <number>6</number>
        <outpatList>
          <outpat>
            <cmdParam>-f</cmdParam>
            <eleDes/>
            <eleType/>
            <eleValue>map.sai</eleValue>
            <idenPathRelative>1</idenPathRelative>
            <idenSubFlag>0</idenSubFlag>
            <itemType/>
            <labelText/>
            <name>output-file</name>
            <pageFlag>0</pageFlag>
            <showFlag>1</showFlag>
            <wsFlag>1</wsFlag>
          </outpat>
        </outpatList>
        <outresultList/>
        <pBSBean>
          <clusterIp>192.168.118.5</clusterIp>
          <cpuNum/>
          <cpuNumList/>
          <jobSchedule/>
          <killCmd>qdel</killCmd>
          <memoryUse/>
          <nodeNum/>
          <nodeNumList/>
          <passwd/>
          <queryCmd>mstat</queryCmd>
          <queueList>genomics=genomics,bioque=bioque,lowq=lowq,middleq=middleq,fat02que=fat02que</queueList>
          <queueName/>
          <subCmd>dsub</subCmd>
          <userName/>
          <walltime/>
        </pBSBean>
        <paramorderbeanList>
          <paramorderbean>
            <commandName>-n </commandName>
            <paramName>mis-match-number</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName/>
            <paramName>reference-index</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName/>
            <paramName>input-file</paramName>
            <paramType>input</paramType>
          </paramorderbean>
          <paramorderbean>
            <commandName>-f </commandName>
            <paramName>output-file</paramName>
            <paramType>output</paramType>
          </paramorderbean>
        </paramorderbeanList>
        <patList>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam>-n</cmdParam>
            <defValue>0</defValue>
            <eleDes/>
            <eleType>0</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>mis-match-number</name>
            <showFlag>1</showFlag>
            <valueType>number</valueType>
            <wsFlag>1</wsFlag>
          </pat>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam/>
            <defValue/>
            <eleDes/>
            <eleType>4</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>reference-index</name>
            <showFlag>0</showFlag>
            <valueType>file</valueType>
            <wsFlag>0</wsFlag>
          </pat>
          <pat>
            <acquireFlag>0</acquireFlag>
            <cmdParam/>
            <defValue/>
            <eleDes/>
            <eleType>4</eleType>
            <eleValue/>
            <idenSubFlag>0</idenSubFlag>
            <labelText/>
            <name>input-file</name>
            <showFlag>0</showFlag>
            <valueType>file</valueType>
            <wsFlag>0</wsFlag>
          </pat>
        </patList>
        <pubPaper/>
        <script>/software/biosoft/bin/bwa aln -n $bwa-aln.mis-match-number $bwa-aln.reference-index $bwa-aln.input-file -f $bwa-aln.output-file </script>
        <show>0</show>
        <showPatCount>1</showPatCount>
        <sindex>6</sindex>
        <submittype>1</submittype>
        <submoduleList/>
        <uploadDocPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439287114810/doc/aa.txt</uploadDocPath>
        <uploadScriptPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439287114810/script/aa.txt</uploadScriptPath>
        <uploadTestDataPath>/home/tangbx/webApplications/biocloud/biocloud/data/app/tiandm@big.ac.cn/upload/1439287114810/data/aa.txt</uploadTestDataPath>
      </module>
    </moduleList>
    <name>microRNA-predict</name>
    <patList/>
    <resultDir/>
    <showReference/>
    <type/>
  </Workflow>
